<h1 class="page-header">
  <table width="100%"><tr>
    <td>Ваши билеты:</td>
    <td width="220px" align="right">
      <a href="<%= new_question_card_path %>" type="button" class="btn btn-success"><i class="fa fa-plus"></i> Создать новый</a>
    </td>
  </tr></table>
</h1>

<% if @question_cards.size == 0 %>
    <p>Вы еще не добавили ни одного билета. Сделать это вы можете <%= link_to 'здесь', new_question_card_path %></p>
<% else %>
    <%= render 'generations/generate_modal' %>
    <div class="list-group">
      <% @question_cards.each do |card| %>
          <%= render 'list_item', card: card %>
      <% end %>
    </div>
<% end %>