<h1 class="page-header">
  <table width="100%"><tr>
    <td>Ваши задачи:</td>
    <td width="220px" align="right">
      <a href="<%= new_task_path %>" type="button" class="btn btn-success"><i class="fa fa-plus"></i> Добавить новую</a>
    </td>
  </tr></table>
</h1>

<% if @tasks.size == 0 %>
    <p>Вы еще не добавили ни одной задачи. Сделать это вы можете <%= link_to 'здесь', new_task_path %></p>
<% else %>
    <%= render 'add_task_to_group' %>
    <div class="list-group">
      <% @tasks.each do |task| %>
          <%= render 'list_item', task: task %>
      <% end %>
    </div>
<% end %>