<h1 class="page-header">Группы задач</h1>

<%= form_tag("/tasks_groups", method: "get") do %>
    <div class="input-group">
      <%= text_field_tag :query, params[:query], class: "form-control ui-autocomplete-input",
                         placeholder: "Поиск на сайте" %>
      <span class="input-group-btn">
			  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Найти</button>
      </span>
    </div><br>

    <ul class="nav nav-pills">
      <li><button class="btn btn-primary btn-outline" type="submit" formaction="/tasks">Задачи</button></li>
      <li class="pill-buttons"><button class="btn btn-primary btn-outline" type="submit" formaction="/question_cards">
        Билеты
      </button></li>
      <li><button class="btn btn-primary" type="submit" formaction="/tasks_groups">Группы задач</button>
      </li>
    </ul>
<% end %>
<br><br>

<div class="list-group">
  <% @tasks_groups.each do |group| %>
      <%= render 'list_item', group: group %>
  <% end %>
</div>

<br>

<%= will_paginate @tasks_groups, renderer: BootstrapPagination::Rails %>