<h1 class="page-header">
  <table width="100%"><tr>
    <td>Ваши группы задач:</td>
    <td width="220px" align="right">
      <a href="<%= new_task_path %>" type="button" class="btn btn-success"><i class="fa fa-plus"></i> Добавить новую</a>
    </td>
  </tr></table>
</h1>

<% if @tasks_groups.size == 0 %>
    <p>Вы пока еще не создали ни одной группы задачи. Сделать это вы можете
      <%= link_to 'здесь', new_tasks_group_path %>
    </p>
<% else %>
    <div class="list-group">
      <% @tasks_groups.each do |group| %>
          <%= render 'tasks_groups/list_item', group: group %>
      <% end %>
    </div>
<% end %>