<h1 class="page-header">
  <table width="100%"><tr>
    <td>История генераций:</td>
  </tr></table>
</h1>

<% if @generations.size == 0 %>
    <p>Вы еще не сенерировали ни одного билета.</p>
<% else %>
    <div class="list-group">
      <% @generations.each do |g| %>
          <a href="/generations/<%= g.id %>" class="list-group-item list-group-item-action">
            <span class="pull-right text-muted small"><em><%= g.updated_at.to_formatted_s(:short) %></em></span>
            <h4 class="list-group-item-heading"><%= g.title %><br>
              <small>Сгенерироваано <%= g.variants.size %> вариантов</small>
            </h4>
          </a>
      <% end %>
    </div>

<% end %>