<h1 class="page-header">
  <table width="100%"><tr>
    <td>История генераций:</td>
  </tr></table>
</h1>

<% if @generations.size == 0 %>
    <p>Вы еще не сенерировали ни одного билета.</p>
<% else %>
    <div class="list-group">
      <% @generations.each do |g| %>
          <%= render 'generations/list_item', generation: g %>
      <% end %>
    </div>

<% end %>